.card-wrapper {
  width: 15%;
  aspect-ratio: 3 / 4;

  display: flex;
  flex-direction: column;

  padding: 12px;

  cursor: pointer;

  font-size: 1rem;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);

  & .name-and-number {
    display: flex;
    justify-content: space-between;
  }

  & .pokemon-img {
    height: 50%;
    aspect-ratio: 1 / 1;
  }

  & .pokemon-data {
    height: 0;
    flex: 1 1 auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 1200px) {
  .card-wrapper {
    width: 30%;
    aspect-ratio: 3 / 7;

    font-size: 1.5rem;
  }
}
