.dropdown-wrapper {
  position: relative;

  height: 32px;
  width: 120px;

  & .dropdown {
    position: relative;
    height: 100%;
    width: 140px;
    font-size: 1.5rem;

    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;

    z-index: 1;
  }

  & .dropdown-options {
    position: absolute;
    top: 100%;
    right: 0px;
    left: 0px;

    height: 0px;
    width: 140px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 12px;

    background-color: rgb(255, 255, 255);

    border: 1px solid rgb(0, 0, 0);
    border-top: none;
    border-radius: 12px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    z-index: 0;

    transition: height 0.3s ease;

    & .option {
      font-size: 1.2rem;

      cursor: pointer;
    }
  }

  & .dropdown-open {
    height: 180px;
    width: 140px;

    padding-top: 36px;

    overflow-y: scroll;

    transition: height 0.3s ease;
  }
}
