.header {
  height: 8%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: 16px;

  background-color: rgba(220, 220, 240, 0.6);

  & .logo-and-user-information {
    /* change? */
    display: flex;
    align-items: center;
    gap: 8px;

    & .logo {
      display: flex;
      align-items: center;

      & img {
        height: 48px;
        aspect-ratio: 1 / 1;
      }
    }

    & .horizontal-divider-container {
      height: 48px;
      width: 4px;
    }

    & .username-and-logout {
      display: flex;
      align-items: baseline;
      gap: 12px;

      & button {
        padding: 4px;

        border-radius: 8px;

        font-size: 1.5rem;
      }
    }
  }

  & p {
    font-size: 1.8rem;
  }
}
