.header {
  height: 8%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: 16px;

  background-color: rgba(220, 220, 240, 0.6);

  & .logo {
    display: flex;
    align-items: center;

    & img {
      height: 48px;
      aspect-ratio: 1 / 1;
    }
  }

  & p {
    font-size: 1.8rem;
  }
}
