.side-menu-wrapper {
  position: relative;

  height: 48px;
  width: 48px;

  & .side-menu {
    position: relative;
    z-index: 1;

    height: 48px;
    width: 48px;
    font-size: 1.5rem;

    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
  }

  & .side-menu-options {
    position: absolute;
    top: 0%;
    right: 0px;
    left: 0px;
    z-index: 0;

    height: 48px;
    width: fit-content;

    display: flex;
    align-items: center;
    gap: 16px;

    padding: 4px;
    padding-left: 64px;

    overflow-x: visible;

    background-color: var(--primary-color);

    border: 1px solid rgb(0, 0, 0);
    border-radius: 24px;

    transition: height 0.3s ease;
  }
}
