* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --font-size-small: 13px;
  --font-size-medium: 16px;
  --font-size-large: 19px;
  --font-size-base: var(--font-size-medium);
}

html {
  font-size: var(--font-size-base);
}

.theme-light {
  --primary-color: rgb(240, 240, 240);
  --secondary-color: rgb(220, 220, 220);
  --text-color: rgb(0, 0, 0);
}

.theme-dark {
  --primary-color: rgb(30, 30, 60);
  --secondary-color: rgb(50, 50, 80);
  --text-color: rgb(255, 255, 255);
}

:root,
html,
body,
body > div {
  height: 100vh;
  width: 100vw;
}

body > div {
  display: flex;
  flex-direction: column;

  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;

  & main {
    height: 0;
    flex: 1 1 auto;
    width: 100%;

    display: flex;
    flex-direction: column;
  }
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

header {
  background-color: var(--primary-color);
}

button {
  cursor: pointer;

  background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: var(--font-size-base);

    & body > div {
      background-image: none;
      background-color: var(--primary-color);
    }
  }
}
